body {
    background-color: rgb(249, 149, 149); 
    display: flex;  
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.mybutton {
    border: none;
    border-radius: 8px;
    height: 50px;
    width: 150px;
    transition:all ease-in-out 250ms;
    color:black
}
.mybutton:hover {
    background-color: rgb(220, 75, 75);
    cursor: pointer;
    color:rgb(255, 255, 255);
}